.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  color: white;
  background: linear-gradient(to bottom, #000000, #1a1a1a);
  min-height: 100vh;
  animation: fadeIn 0.2s ease-in;
}

.poster {
  width: 240px;
  height: 360px;
  object-fit: cover;
  border-radius: 12px;
  margin: 1rem;
  background-color: #1a1a1a;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6);
}

.details {
  max-width: 600px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.5rem;
  border-radius: 10px;
  backdrop-filter: blur(6px);
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.1rem;
  margin: 0.3rem 0;
  font-weight: 500;
  color: #fbc531;
}

.overview {
  margin-top: 1rem;
  line-height: 1.5;
  color: #ccc;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 2rem;
}

.backlink,
.backButton {
  display: inline-block;
  color: #00aaff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
  margin-top: 1rem;
}

.backlink:hover,
.backButton:hover {
  color: #0088cc;
}

.addButton {
  background-color: #ebaf00;
  padding: 10px 20px;
  border: none;
  border-radius: 9999px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #ffc940;
}

.addButton:disabled,
.star:disabled {
  cursor: not-allowed !important;
  box-shadow: none !important;
  opacity: 0.6;
}

.rating {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.rateLabel {
  font-weight: bold;
}

.star {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: gray;
  transition: color 0.2s, transform 0.2s;
  padding: 0;
  margin: 0 4px;
}

.filled {
  color: gold;
}

.star:hover:not(:disabled),
.star:focus:not(:disabled) {
  transform: scale(1.2);
}

.trailer {
  margin-top: 2rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.057);
  background: #111;
  animation: fadeIn 0.5s ease-in-out;
}

.trailer h3 {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .poster {
    width: 180px;
    height: 270px;
  }

  .details {
    margin: 1rem 0;
    max-width: 90%;
  }

  .rating {
    justify-content: center;
  }

  .star {
    font-size: 18px;
  }

  .rateLabel {
    font-size: 15px;
  }

  .trailer iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
}
