.vignette {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.3s ease, opacity 0.6s ease-out;
  border: 1px solid #444;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  margin: 1rem;
  min-height: 525px;
  width: 250px;
  flex-shrink: 0;
  text-align: center;
  overflow: hidden;
}

.vignette h2 {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

.vignette p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  margin-top: 0.2rem;
}

.vignette.visible {
  opacity: 1;
  transform: translateY(0);
}

.poster {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
}
